h1{
    top: 0;
    margin: auto;
    background-color: blue;
    font-weight: 700;
    width: 100%;
    color: #ffffff;
    text-align: center;
}

#chapters a{
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding-top: 15px;

    
}

#content a{
 text-decoration: none;
}

#content{
    font-size: 35px;
    background-color: ; 
    }

#content img{
    width: 50%;
    height: auto;
}